config/Credentials.yaml

data/flare_data/dicts
data/flare_data/queued_for_photometry
data/flare_data/completed_queued_photometry
data/flare_data/ZFPS

dev/data/

flares_utils/__pycache__
trigger_utils/__pycache__
trigger_utils/__pycache__/trigger_utils.cpython-312.pyc