__pycache__/
TriggerBot/__pycache__/
TriggerBot/bot/__pycache__/
FlareBot/__pycache__/
FlareBot/bot/__pycache__/

TriggerBot/bot/TriggerCredentials.yaml
FlareBot/bot/FlareBotCredentials.yaml

FlareBot/bot/data/dicts
FlareBot/bot/data/queued_for_photometry