config/Credentials.yaml

data/flare_data/dicts
data/flare_data/queued_for_photometry
data/flare_data/completed_queued_photometry
data/flare_data/ZFPS

dev/data/
dev/flare_simulations/
dev/ligo_inference_drift.ipynb
dev/alerts_vs_catalogs.ipynb

flares_utils/__pycache__
trigger_utils/__pycache__
trigger_utils/__pycache__/trigger_utils.cpython-312.pyc
utils/__pycache__/log.cpython-312.pyc
